<div class="container">
  <h1>
    Hello World!
  </h1>
  <p>
    This app is made as a practice project. The app is designed in a non-efficient way on purpose to get used to the data flow from one component to another, in this case, with an inefficient method.
  </p>
  <p>
    The app uses concepts of Angular components, services, routing and basic level usage of rxjs in the form of observable$.
  </p>
  <p>
    Made with love in INDIA.
  </p>
  <a routerLink='' class="link"><<< Go Back</a>
</div>
